<aside class="island comments js-comments">
</aside>
<form class="island post-comment js-post-comment">
	<p class="h1 comment__title">KOMENTAR<small class="comment__hint">* tanda bintang bukan sensor tetapi dibutuhkan :v <a href="https://github.com/" title="Github">github</a> account.</small></p>
	<textarea class="comment__input" placeholder="Add comment&hellip;"></textarea>
	<span class="error__item">Halo pembaca, jangan malu untuk berkomentar &hellip;</span>
	<input type="submit" value="TERBITKAN KOMENTAR" class="btn js-post">
</form>