<footer class="island site-foot">
  <h3>Sekilas tentang penulis</h3>

  <p><img class="rully" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xta1/v/t1.0-1/c0.66.160.160/p160x160/12042782_1315383408478430_108274644776587771_n.jpg?_nc_eui=ARhx-JqLaZ-KO5RsKU6_3esWVqss1qR-iAuk3SZKImz93GaOakl9OXFU80qj&oh=f70836469cd3d654bc6edafea9194352&oe=57888CB0&__gda__=1468195484_33b56af09d66e0f3b93f8730b90891b1" width="80" height="80" alt="Rully Manusia Ganteng Permanent" />Nama saya Rully, seorang penulis blog kecil dari kota kecil propinsi Sumatra Barat.
    Suka Ellegarden, Fear and Loathing in Las Vegas, The Maine. Tidak suka sayuran. Perkenalan tidak terlalu panjang lebar, 
    jika ingin bertanya silakan <a href="http://fb.com/my.username.is.rully" target="_blank"> chat </a> saja ke facebook, 
    atau mention di <a href="http://twitter.com/longfield21" target="_blank">twitter</a>.
  </p>
</footer>
