article, aside,
dialog, figure,
footer, header,
hgroup, menu,
nav, section{display:block;}
*,
*:before,
*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html{border:0.5em solid #3f5a8c;min-height:100%;}
@media only screen and (min-width:44em){html{border-width:2em;}
}
body{background-color:white;border:#112e5c solid 8px;font-family:'CharisSILRegular';font-size:16px;line-height:1.6;color:#3e3e3e;margin:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
::selection{background-color:#03204d;color:#fff;text-shadow:none;}
::-moz-selection{background-color:#03204d;color:#fff;text-shadow:none;}
a{color:#03204d;text-decoration:none;}
a:focus{outline:thin dotted;border-color:rgb(0,0,0);background:#c7e3f0;color:rgb(0,0,0);}
a:hover,
a:active{outline:0;}
a:hover,
a:focus,
a:active{text-decoration:underline;}
img{max-width:100%;height:auto;border:0;vertical-align:middle;}
ul,
ol{padding-left:30px;}
ul ul,
ol ol,
ul ol,
ol ul{margin:0;}
dt{font-weight:bold;}
dd{margin-left:30px;}
table{border-collapse:collapse;border-spacing:0;}
.hx, h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, .h1-l, .h1-xl{margin:0 0 1em;line-height:1.4;font-weight:bold;-webkit-font-smoothing:antialiased;text-transform:uppercase;}
h6, .h6{font-size:0.875em;color:#777;}
h5, .h5{font-size:0.875em;}
h4, .h4{font-size:1em;}
h3, .h3{font-size:1.25em;}
h2, .h2{font-size:1.5em;}
h1, .h1{margin:0 0 0.75em;font-size:1.75em;}
.h1-l, .h1-xl{margin:0 0 0.5em;font-size:3.375em;font-weight:normal;}
.h1-xl{margin:0 0 0.5em;font-size:4.5em;font-weight:normal;}
small,
.txt-s{font-size:75%;}
.txt-xl{font-size:1.5em;}
p, blockquote, ul, ol, dl, menu, pre{margin:0 0 1.6em;}
span.new,
span.old,
span#pagination{cursor:not-allowed;}
.highlight{background:#ffffff;}
.highlight .c{color:#999988;font-style:italic;}
.highlight .err{color:#a61717;background-color:#e3d2d2;}
.highlight .k{font-weight:bold;}
.highlight .o{font-weight:bold;}
.highlight .cm{color:#999988;font-style:italic;}
.highlight .cp{color:#999999;font-weight:bold;}
.highlight .c1{color:#999988;font-style:italic;}
.highlight .cs{color:#999999;font-weight:bold;font-style:italic;}
.highlight .gd{color:#000000;background-color:#ffdddd;}
.highlight .gd .x{color:#000000;background-color:#ffaaaa;}
.highlight .ge{font-style:italic;}
.highlight .gr{color:#aa0000;}
.highlight .gh{color:#999999;}
.highlight .gi{color:#000000;background-color:#ddffdd;}
.highlight .gi .x{color:#000000;background-color:#aaffaa;}
.highlight .go{color:#888888;}
.highlight .gp{color:#555555;}
.highlight .gs{font-weight:bold;}
.highlight .gu{color:#aaaaaa;}
.highlight .gt{color:#aa0000;}
.highlight .kc{font-weight:bold;}
.highlight .kd{font-weight:bold;}
.highlight .kp{font-weight:bold;}
.highlight .kr{font-weight:bold;}
.highlight .kt{color:#445588;font-weight:bold;}
.highlight .m{color:#009999;}
.highlight .s{color:#dd1144;}
.highlight .na{color:teal;}
.highlight .nb{color:#0086b3;}
.highlight .nc{color:#445588;font-weight:bold;}
.highlight .no{color:teal;}
.highlight .ni{color:purple;}
.highlight .ne{color:#990000;font-weight:bold;}
.highlight .nf{color:#990000;font-weight:bold;}
.highlight .nn{color:#555555;}
.highlight .nt{color:navy;}
.highlight .nv{color:teal;}
.highlight .ow{font-weight:bold;}
.highlight .w{color:#bbbbbb;}
.highlight .mf{color:#009999;}
.highlight .mh{color:#009999;}
.highlight .mi{color:#009999;}
.highlight .mo{color:#009999;}
.highlight .sb{color:#dd1144;}
.highlight .sc{color:#dd1144;}
.highlight .sd{color:#dd1144;}
.highlight .s2{color:#dd1144;}
.highlight .se{color:#dd1144;}
.highlight .sh{color:#dd1144;}
.highlight .si{color:#dd1144;}
.highlight .sx{color:#dd1144;}
.highlight .sr{color:#009926;}
.highlight .s1{color:#dd1144;}
.highlight .ss{color:#990073;}
.highlight .bp{color:#999999;}
.highlight .vc{color:teal;}
.highlight .vg{color:teal;}
.highlight .vi{color:teal;}
.highlight .il{color:#009999;}
.cf, .contain{zoom:1;}
.cf:before, .contain:before,
.cf:after,
.contain:after{content:"";display:table;}
.cf:after, .contain:after{clear:both;}
.contain{max-width:800px;margin:0 auto;padding:1em;}
@media only screen and (min-width:44em){.contain{padding:2.5em;}
}
.hoz{list-style:none;padding-left:0;}
.hoz,
.hoz dd{margin-left:0;}
.hoz li,
.hoz dt,
.hoz dd{display:inline;}
.hoz a{display:inline-block;}
.hidden{text-indent:100%;white-space:nowrap;overflow:hidden;}
.offscreen{position:absolute;left:-999em;}
.island{padding:1em;word-wrap:break-word;border-radius:.2em;}
@media only screen and (min-width:44em){.island{padding:1.5em;}
}
.island p:last-of-type{margin-bottom:0;}
.media{display:block;}
.media_img{float:left;margin-right:1em;}
.media_body{overflow:hidden;margin-bottom:0;}
.push{margin:1em;}
.push--top{margin-top:1em;}
.push--right{margin-right:1em;}
.push--bottom{margin-bottom:1em;}
.push--left{margin-left:1em;}
.push--zero{margin:0;}
.site-head{border-bottom:0.25em solid #3f5a8c;padding-bottom:1.5em;}
.site-logo{margin:0 0 .25em;}
.site-strap{font-size:1.125em;font-weight:300;margin-bottom:0;}
.site-foot{background-color:#112e5c;color:#fff;margin-bottom:1.5em;}
.rully{float:left;margin:0 1em 0 0;padding:.5em .5em .2em .5em;display:inline;background:#fff;}
.about{padding:1em}
.about p{display:inline;padding:0;}
.post{padding-bottom:1.5em;padding-top:2.75em;}
.post + .post{border-top:0.25em solid #3f5a8c;}
.post__title a{color:#03204d;}
.post__title a:hover, .post__title a:focus, .post__title a:active{color:#00001f;}
.post__date{border-bottom:1px solid #ccc;display:inline-block;margin-bottom:1.5em;padding:0 .5em .25em 0;}
.post .highlight{background-color:whiteSmoke;border-left:.4em solid #eee;padding:1em;border-radius:.25em;}
.post pre{overflow:auto;}
.post .highlight pre:last-of-type{margin-bottom:0;}
.site-credits{text-align:center;}
.credit__copyright{font-size:0.75em;margin-bottom:0;}
@font-face{font-family:'CharisSILRegular';src:url('../font/CCharisSILR-webfont/harisSILR-webfont.eot');src:url('../font/CharisSILR-webfont/CharisSILR-webfont.eot?#iefix') format('embedded-opentype'),
url('../font/CharisSILR-webfont/CharisSILR-webfont.woff') format('woff'),
url('../font/CharisSILR-webfont/CharisSILR-webfont.ttf') format('truetype'),
url('../font/CharisSILR-webfont/CharisSILR-webfont.svg#CharisSILRegular') format('svg');font-weight:normal;font-style:normal;}
