<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/all.css">
	  <script src="/js/libs/modernizr-2.0.6.min.js"></script>
    </head>
    <body>

        <article>

<ul>

          {{ content }}

</ul>

    <p><a href="/" class="highlight">&larr;  index</a></p>
  </article>
  <script src="/js/scripts.js"></script>

</body>
</html>