---
layout: default
---

<article class="post">
  <header class="post__head">
    <time class="post__date" datetime="{{ page.date | date_to_long_string }}" pubdate="">{{ page.date | date_to_long_string }}</time>
    <h1 class="post__title">{{ page.title }}</h1>
  </header>


  {{ content }}


<nav id="pagination">
        {% if page.previous %}
                <a id="west" class="previous" href="{{ page.previous.url }}" title="previous">&larr; Previous&nbsp; &nbsp;</a>
{% else %}
<span class="old">&larr; Previous</span>
        {% endif %}

        {% if page.next %}
                <a id="east" class="next" href="{{ page.next.url }}" title="next">&nbsp; &nbsp;Next &rarr;</a>
{% else %}
<span class="new">Next &rarr;</span>
        {% endif %}
</nav>


</article>
